<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Maheshwari hostel mess Menu</title>
    <link rel="stylesheet" href="css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  </head>
<body>
  <div class="front">

    <nav class="navbar navbar-expand-lg nav_bg navbar-light static-top" >
        <div class="container">
          <a class="navbar-brand" href="/">
            <img src="https://www.boyshostelindore.com/images/SSJJ_LOGO.png" alt="Maheshwari_logo">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse nav_buttons_div" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto ">
              <li class="nav-item nav_button">
                <a class="nav-link active " aria-current="page" href="/"><button type="button" class="btn btn-outline-secondary ">Home</button></a>
              </li>

              <li class="nav-item nav_button">
                <a class="nav-link active " href="/"><button type="button" class="btn btn-outline-secondary ">About</button></a>
              </li>
              <li class="nav-item nav_button">
              
                <a class="nav-link active " href="/auth/google"><button type="button" class="btn btn-primary ">Login</button></a>
              </li>
            </ul>
          </div>
        </div>
</nav>
</div>

<!-- heading section -->

<div class="heading_section">
  <h1 class="heading">HOSTEL MESS MENU VOTING</h1>
</div>

<!-- menu section -->
 <div class="menu_section">

<!-- <p class="gap-1">
  <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample_monday" aria-expanded="false" aria-controls="collapseExample">
    Monday
  </button>
</p>
<div class="collapse" id="collapseExample_monday">
  <div class="card card-body">
    hey monday
  </div>
</div>

<p class="gap-1">
  <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample_tuesday" aria-expanded="false" aria-controls="collapseExample">
    Tuesday
  </button>
</p>
<div class="collapse" id="collapseExample_tuesday">
  <div class="card card-body">
    hey Tuesday
  </div>
</div>

<p class="gap-1">
  <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample_wednesday" aria-expanded="false" aria-controls="collapseExample">
    Wednesday
  </button>
</p>
<div class="collapse" id="collapseExample_wednesday">
  <div class="card card-body">
    hey wednesday
  </div>
</div>
<p class="gap-1">
  <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample_thursday" aria-expanded="false" aria-controls="collapseExample">
    Thursday
  </button>
</p>
<div class="collapse" id="collapseExample_thursday">
  <div class="card card-body">
    hey thursday
  </div>
</div>

<p class="gap-1">
  <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample_friday" aria-expanded="false" aria-controls="collapseExample">
    Friday
  </button>
</p>
<div class="collapse" id="collapseExample_friday">
  <div class="card card-body">
    hey friday
  </div>
</div>

<p class="gap-1">
  <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample_saturday" aria-expanded="false" aria-controls="collapseExample">
    Saturday
  </button>
</p>
<div class="collapse" id="collapseExample_saturday">
  <div class="card card-body">
    hey saturday
  </div>
</div>

<p class="gap-1">
  <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample_sunday" aria-expanded="false" aria-controls="collapseExample">
    Sunday
  </button>
</p>
<div class="collapse" id="collapseExample_sunday">
  <div class="card card-body">
    hey sunday
  </div>
</div> -->










<!-- <p class="gap-1">
  <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample_monday" aria-expanded="false" aria-controls="collapseExample">
    Monday
  </button>
</p>
<div class="collapse" id="collapseExample_monday">
  <div class="card card-body">
    <ul>
      <li><strong>नाश्ता:</strong> खमण, पोहा & चाय</li>
      <li><strong>टिफ़िन:</strong> आलू गोभी</li>
      <li><strong>लंच:</strong> चावल, तुवरदाल + आलू-गोभी + काले चने, पापड़ + आचार + सलाद</li>
      <li><strong>हाई-टी:</strong> पोहा & चाय</li>
      <li><strong>डिनर:</strong> चावल, मिक्स-दाल + मसाला भिंडी + छोले, पापड़ + आचार + सलाद</li>
    </ul>
  </div>
</div>

<p class="gap-1">
  <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample_tuesday" aria-expanded="false" aria-controls="collapseExample">
    Tuesday
  </button>
</p>
<div class="collapse" id="collapseExample_tuesday">
  <div class="card card-body">
    <ul>
      <li><strong>नाश्ता:</strong> इडली-सांभर + ब्रेड & चाय</li>
      <li><strong>टिफ़िन:</strong> पत्ता गोभी</li>
      <li><strong>लंच:</strong> चावल, मिक्स-दाल + पत्ता गोभी + राजमा, पापड़ + आचार + सलाद</li>
      <li><strong>हाई-टी:</strong> बिस्किट & चाय</li>
      <li><strong>डिनर:</strong> चावल, तुवरदाल + गाजर मटर + कड़ी पकोड़ा, पापड़ + आचार + सलाद</li>
    </ul>
  </div>
</div>

<p class="gap-1">
  <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample_wednesday" aria-expanded="false" aria-controls="collapseExample">
    Wednesday
  </button>
</p>
<div class="collapse" id="collapseExample_wednesday">
  <div class="card card-body">
    <ul>
      <li><strong>नाश्ता:</strong> नमकीन पूरी + पोहा & चाय</li>
      <li><strong>टिफ़िन:</strong> सुखी-सेव</li>
      <li><strong>लंच:</strong> चावल, तुवरदाल + सेव-टमाटर + बालोर, पापड़ + आचार + सलाद</li>
      <li><strong>हाई-टी:</strong> ब्रेड & चाय</li>
      <li><strong>डिनर:</strong> चावल, तुवरदाल + आलू मेथी + हरे प्याज बेसन, पापड़ + आचार + सलाद</li>
    </ul>
  </div>
</div>

<p class="gap-1">
  <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample_thursday" aria-expanded="false" aria-controls="collapseExample">
    Thursday
  </button>
</p>
<div class="collapse" id="collapseExample_thursday">
  <div class="card card-body">
    <ul>
      <li><strong>नाश्ता:</strong> फ्राइड इडली + पोहा & चाय</li>
      <li><strong>टिफ़िन:</strong> भिंडी-फ्राय</li>
      <li><strong>लंच:</strong> चावल, मिक्स-दाल + कुरकुरी भिंडी + आलू झोल, पापड़ + आचार + सलाद</li>
      <li><strong>हाई-टी:</strong> बिस्किट & चाय</li>
      <li><strong>डिनर:</strong> जीरा-चावल, दाल, पराठे, शाही पनीर + रसगुल्ला / फ्राइड राइस, छोले भटूरे, गाजर का हलवा</li>
    </ul>
  </div>
</div>

<p class="gap-1">
  <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample_friday" aria-expanded="false" aria-controls="collapseExample">
    Friday
  </button>
</p>
<div class="collapse" id="collapseExample_friday">
  <div class="card card-body">
    <ul>
      <li><strong>नाश्ता:</strong> सैंडविच + पोहा & चाय</li>
      <li><strong>टिफ़िन:</strong> मिक्स-वेज</li>
      <li><strong>लंच:</strong> चावल, तुवरदाल + मिक्स वेज + बेसन गट्टे, पापड़ + आचार + सलाद</li>
      <li><strong>हाई-टी:</strong> ब्रेड & चाय</li>
      <li><strong>डिनर:</strong> चावल, तुवरदाल + सेव-टमाटर + बैंगन भरता, पापड़ + आचार + सलाद</li>
    </ul>
  </div>
</div>

<p class="gap-1">
  <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample_saturday" aria-expanded="false" aria-controls="collapseExample">
    Saturday
  </button>
</p>
<div class="collapse" id="collapseExample_saturday">
  <div class="card card-body">
    <ul>
      <li><strong>नाश्ता:</strong> पोहा + भाजिया & चाय</li>
      <li><strong>टिफ़िन:</strong> नमकीन पराठे</li>
      <li><strong>लंच:</strong> आलू पराठे/सेव पराठे/ मक्के की रोटी + सरसों साग, दही, पुलाव, चटनी</li>
      <li><strong>हाई-टी:</strong> भेल & चाय</li>
      <li><strong>डिनर:</strong> चावल, तुवरदाल + मूंग दाल + जाम की सब्जी, पापड़ + आचार + सलाद</li>
    </ul>
  </div>
</div>

<p class="gap-1">
  <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample_sunday" aria-expanded="false" aria-controls="collapseExample">
    Sunday
  </button>
</p>
<div class="collapse" id="collapseExample_sunday">
  <div class="card card-body">
    <ul>
      <li><strong>नाश्ता:</strong> समोसा/आलू-बड़ा/कचोरी & चाय</li>
      <li><strong>टिफ़िन:</strong>---</li>
      <li><strong>लंच:</strong> जीरा-चावल, दाल-बाटी, गुड़-चूरमा / जीरा चावल, दाल-बाफले, खीर / जीरा-चावल + दाल, कड़ाई-पनीर + फ्रूट कस्टर्ड</li>
      <li><strong>हाई-टी:</strong>---</li>
      <li><strong>डिनर:</strong> कड़ी-खिचड़ी / पुलाव / साबूदाना खिचड़ी, आचार</li>
    </ul>
  </div>
</div> -->






<!-- <p class="gap-1">
  <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample_Monday" aria-expanded="false" aria-controls="collapseExample">
    Monday
  </button>
</p>
<div class="collapse" id="collapseExample_Monday">
  <div class="card card-body">
    <div class="day-menu">
      <div class="meal">
        <h5>नाश्ता</h5>
        <p>खमण, पोहा & चाय</p>
      </div>
      <div class="meal">
        <h5>टिफ़िन</h5>
        <p>आलू गोभी</p>
      </div>
      <div class="meal">
        <h5>लंच</h5>
        <p>चावल, तुवरदाल + आलू-गोभी + काले चने, पापड़ + आचार + सलाद</p>
      </div>
      <div class="meal">
        <h5>हाई-टी</h5>
        <p>पोहा & चाय</p>
      </div>
      <div class="meal">
        <h5>डिनर</h5>
        <p>चावल, मिक्स-दाल + मसाला भिंडी + छोले, पापड़ + आचार + सलाद</p>
      </div>
    </div>
  </div>
</div>


<div class="gap-1">
  <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample_monday" aria-expanded="false" aria-controls="collapseExample_monday">
    Monday
  </button>
</div>
<div class="collapse" id="collapseExample_monday">
  <div class="card card-body">
    <div class="day-menu">
      <div class="meal">
        <h5>नाश्ता</h5>
        <p>खमण, पोहा & चाय</p>
      </div>
      <div class="meal">
        <h5>टिफ़िन</h5>
        <p>आलू गोभी</p>
      </div>
      <div class="meal">
        <h5>लंच</h5>
        <p>चावल, तुवरदाल + आलू-गोभी + काले चने, पापड़ + आचार + सलाद</p>
      </div>
      <div class="meal">
        <h5>हाई-टी</h5>
        <p>पोहा & चाय</p>
      </div>
      <div class="meal">
        <h5>डिनर</h5>
        <p>चावल, मिक्स-दाल + मसाला भिंडी + छोले, पापड़ + आचार + सलाद</p>
      </div>
    </div>
  </div>
</div>

<div class="gap-1">
  <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample_tuesday" aria-expanded="false" aria-controls="collapseExample_tuesday">
    Tuesday
  </button>
</div>
<div class="collapse" id="collapseExample_tuesday">
  <div class="card card-body">
    <div class="day-menu">
      <div class="meal">
        <h5>नाश्ता</h5>
        <p>इडली-सांभर + ब्रेड & चाय</p>
      </div>
      <div class="meal">
        <h5>टिफ़िन</h5>
        <p>पत्ता गोभी</p>
      </div>
      <div class="meal">
        <h5>लंच</h5>
        <p>चावल, मिक्स-दाल + पत्ता गोभी + राजमा, पापड़ + आचार + सलाद</p>
      </div>
      <div class="meal">
        <h5>हाई-टी</h5>
        <p>बिस्किट & चाय</p>
      </div>
      <div class="meal">
        <h5>डिनर</h5>
        <p>चावल, तुवरदाल + गाजर मटर + कड़ी पकोड़ा, पापड़ + आचार + सलाद</p>
      </div>
    </div>
  </div>
</div>

<div class="gap-1">
  <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample_wednesday" aria-expanded="false" aria-controls="collapseExample_wednesday">
    Wednesday
  </button>
</div>
<div class="collapse" id="collapseExample_wednesday">
  <div class="card card-body">
    <div class="day-menu">
      <div class="meal">
        <h5>नाश्ता</h5>
        <p>नमकीन पूरी + पोहा & चाय</p>
      </div>
      <div class="meal">
        <h5>टिफ़िन</h5>
        <p>सुखी-सेव</p>
      </div>
      <div class="meal">
        <h5>लंच</h5>
        <p>चावल, तुवरदाल + सेव-टमाटर + बालोर, पापड़ + आचार + सलाद</p>
      </div>
      <div class="meal">
        <h5>हाई-टी</h5>
        <p>ब्रेड & चाय</p>
      </div>
      <div class="meal">
        <h5>डिनर</h5>
        <p>चावल, तुवरदाल + आलू मेथी + हरे प्याज बेसन, पापड़ + आचार + सलाद</p>
      </div>
    </div>
  </div>
</div>

<div class="gap-1">
  <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample_thursday" aria-expanded="false" aria-controls="collapseExample_thursday">
    Thursday
  </button>
</div>
<div class="collapse" id="collapseExample_thursday">
  <div class="card card-body">
    <div class="day-menu">
      <div class="meal">
        <h5>नाश्ता</h5>
        <p>फ्राइड इडली + पोहा & चाय</p>
      </div>
      <div class="meal">
        <h5>टिफ़िन</h5>
        <p>भिंडी-फ्राय</p>
      </div>
      <div class="meal">
        <h5>लंच</h5>
        <p>चावल, मिक्स-दाल + कुरकुरी भिंडी + आलू झोल, पापड़ + आचार + सलाद</p>
      </div>
      <div class="meal">
        <h5>हाई-टी</h5>
        <p>बिस्किट & चाय</p>
      </div>
      <div class="meal">
        <h5>डिनर</h5>
        <p>जीरा-चावल, दाल, पराठे, शाही पनीर + रसगुल्ला / फ्राइड राइस, छोले भटूरे, गाजर का हलवा</p>
      </div>
    </div>
  </div>
</div>

<div class="gap-1">
  <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample_friday" aria-expanded="false" aria-controls="collapseExample_friday">
    Friday
  </button>
</div>
<div class="collapse" id="collapseExample_friday">
  <div class="card card-body">
    <div class="day-menu">
      <div class="meal">
        <h5>नाश्ता</h5>
        <p>सैंडविच + पोहा & चाय</p>
      </div>
      <div class="meal">
        <h5>टिफ़िन</h5>
        <p>मिक्स-वेज</p>
      </div>
      <div class="meal">
        <h5>लंच</h5>
        <p>चावल, तुवरदाल + मिक्स वेज + बेसन गट्टे, पापड़ + आचार + सलाद</p>
      </div>
      <div class="meal">
        <h5>हाई-टी</h5>
        <p>ब्रेड & चाय</p>
      </div>
      <div class="meal">
        <h5>डिनर</h5>
        <p>चावल, तुवरदाल + सेव-टमाटर + बैंगन भरता, पापड़ + आचार + सलाद</p>
      </div>
    </div>
  </div>
</div>

<div class="gap-1">
  <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample_saturday" aria-expanded="false" aria-controls="collapseExample_saturday">
    Saturday
  </button>
</div>
<div class="collapse" id="collapseExample_saturday">
  <div class="card card-body">
    <div class="day-menu">
      <div class="meal">
        <h5>नाश्ता</h5>
        <p>पोहा + भाजिया & चाय</p>
      </div>
      <div class="meal">
        <h5>टिफ़िन</h5>
        <p>नमकीन पराठे</p>
      </div>
      <div class="meal">
        <h5>लंच</h5>
        <p>आलू पराठे/सेव पराठे/ मक्के की रोटी + सरसों साग, दही, पुलाव, चटनी</p>
      </div>
      <div class="meal">
        <h5>हाई-टी</h5>
        <p>भेल & चाय</p>
      </div>
      <div class="meal">
        <h5>डिनर</h5>
        <p>चावल, तुवरदाल + मूंग दाल + जाम की सब्जी, पापड़ + आचार + सलाद</p>
      </div>
    </div>
  </div>
</div>

<div class="gap-1">
  <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample_sunday" aria-expanded="false" aria-controls="collapseExample_sunday">
    Sunday
  </button>
</div>
<div class="collapse" id="collapseExample_sunday">
  <div class="card card-body">
    <div class="day-menu">
      <div class="meal">
        <h5>नाश्ता</h5>
        <p>समोसा/आलू-बड़ा/कचोरी & चाय</p>
      </div>
      <div class="meal">
        <h5>टिफ़िन</h5>
        <p>---</p>
      </div>
      <div class="meal">
        <h5>लंच</h5>
        <p>जीरा-चावल, दाल-बाटी, गुड़-चूरमा / जीरा चावल, दाल-बाफले, खीर / जीरा-चावल + दाल, कड़ाई-पनीर + फ्रूट कस्टर्ड</p>
      </div>
      <div class="meal">
        <h5>हाई-टी</h5>
        <p>---</p>
      </div>
      <div class="meal">
        <h5>डिनर</h5>
        <p>कड़ी-खिचड़ी / पुलाव / साबूदाना खिचड़ी, आचार</p>
      </div>
    </div>
  </div>
</div> -->





<p class="gap-1">
  <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample_Monday" aria-expanded="false" aria-controls="collapseExample">
    Monday
  </button>
</p>
<div class="collapse" id="collapseExample_Monday">
  <div class="card card-body">
    <div class="day-menu row">
      <div class="meal col-md-6">
        <h5>नाश्ता</h5>
        <p>खमण, पोहा & चाय</p>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
          <label class="form-check-label" for="flexRadioDefault1">
            Default radio
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
          <label class="form-check-label" for="flexRadioDefault2">
            Default checked radio
          </label>
        </div>
      </div>
      <div class="meal col-md-6">
        <h5>टिफ़िन</h5>
        <p>आलू गोभी</p>

        <div class="check_box_options">
          <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefaultdel" id="flexRadioDefault1">
            <label class="form-check-label" for="flexRadioDefault1">
              YES
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefaultdel" id="flexRadioDefault2" checked>
            <label class="form-check-label" for="flexRadioDefault2">
              NO
            </label>
          </div>
      </div>
        
      </div>
      <div class="meal col-md-6">
        <h5>लंच</h5>
        <p>चावल, तुवरदाल + आलू-गोभी + काले चने, पापड़ + आचार + सलाद</p>
      </div>
      <div class="meal col-md-6">
        <h5>हाई-टी</h5>
        <p>पोहा & चाय</p>
      </div>
      <div class="meal col-md-6 col-lg-12">
        <h5>डिनर</h5>
        <p>चावल, मिक्स-दाल + मसाला भिंडी + छोले, पापड़ + आचार + सलाद</p>
      </div>
    </div>
    





  </div>
</div>

<p class="gap-1">
  <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample_Tuesday" aria-expanded="false" aria-controls="collapseExample">
    Tuesday
  </button>
</p>
<div class="collapse" id="collapseExample_Tuesday">
  <div class="card card-body">
    <div class="day-menu row">
      <div class="meal col-md-6">
        <h5>नाश्ता</h5>
        <p>इडली-सांभर + ब्रेड & चाय</p>
      </div>
      <div class="meal col-md-6">
        <h5>टिफ़िन</h5>
        <p>पत्ता गोभी</p>
      </div>
      <div class="meal col-md-6">
        <h5>लंच</h5>
        <p>चावल, मिक्स-दाल + पत्ता गोभी + राजमा, पापड़ + आचार + सलाद</p>
      </div>
      <div class="meal col-md-6">
        <h5>हाई-टी</h5>
        <p>बिस्किट & चाय</p>
      </div>
      <div class="meal col-md-6 col-lg-12">
        <h5>डिनर</h5>
        <p>चावल, तुवरदाल + गाजर मटर + कड़ी पकोड़ा, पापड़ + आचार + सलाद</p>
      </div>
    </div>
  </div>
</div>

<p class="gap-1">
  <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample_Wednesday" aria-expanded="false" aria-controls="collapseExample">
    Wednesday
  </button>
</p>
<div class="collapse" id="collapseExample_Wednesday">
  <div class="card card-body">
    <div class="day-menu row">
      <div class="meal col-md-6">
        <h5>नाश्ता</h5>
        <p>नमकीन पूरी + पोहा & चाय</p>
      </div>
      <div class="meal col-md-6">
        <h5>टिफ़िन</h5>
        <p>सुखी-सेव</p>
      </div>
      <div class="meal col-md-6">
        <h5>लंच</h5>
        <p>चावल, तुवरदाल + सेव-टमाटर + बालोर, पापड़ + आचार + सलाद</p>
      </div>
      <div class="meal col-md-6">
        <h5>हाई-टी</h5>
        <p>ब्रेड & चाय</p>
      </div>
      <div class="meal col-md-6 col-lg-12">
        <h5>डिनर</h5>
        <p>चावल, तुवरदाल + आलू मेथी + हरे प्याज बेसन, पापड़ + आचार + सलाद</p>
      </div>
    </div>
  </div>
</div>

<p class="gap-1">
  <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample_Thursday" aria-expanded="false" aria-controls="collapseExample">
    Thursday
  </button>
</p>
<div class="collapse" id="collapseExample_Thursday">
  <div class="card card-body">
    <div class="day-menu row">
      <div class="meal col-md-6">
        <h5>नाश्ता</h5>
        <p>फ्राइड इडली + पोहा & चाय</p>
      </div>
      <div class="meal col-md-6">
        <h5>टिफ़िन</h5>
        <p>भिंडी-फ्राय</p>
      </div>
      <div class="meal col-md-6">
        <h5>लंच</h5>
        <p>चावल, मिक्स-दाल + कुरकुरी भिंडी + आलू झोल, पापड़ + आचार + सलाद</p>
      </div>
      <div class="meal col-md-6">
        <h5>हाई-टी</h5>
        <p>बिस्किट & चाय</p>
      </div>
      <div class="meal col-md-6 col-lg-12">
        <h5>डिनर</h5>
        <p>जीरा-चावल, दाल, पराठे, शाही पनीर + रसगुल्ला / फ्राइड राइस, छोले भटूरे, गाजर का हलवा</p>
      </div>
    </div>
  </div>
</div>

<p class="gap-1">
  <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample_Friday" aria-expanded="false" aria-controls="collapseExample">
    Friday
  </button>
</p>
<div class="collapse" id="collapseExample_Friday">
  <div class="card card-body">
    <div class="day-menu row">
      <div class="meal col-md-6">
        <h5>नाश्ता</h5>
        <p>सैंडविच + पोहा & चाय</p>
      </div>
      <div class="meal col-md-6">
        <h5>टिफ़िन</h5>
        <p>मिक्स-वेज</p>
      </div>
      <div class="meal col-md-6">
        <h5>लंच</h5>
        <p>चावल, तुवरदाल + मिक्स वेज + बेसन गट्टे, पापड़ + आचार + सलाद</p>
      </div>
      <div class="meal col-md-6">
        <h5>हाई-टी</h5>
        <p>ब्रेड & चाय</p>
      </div>
      <div class="meal col-md-6 col-lg-12">
        <h5>डिनर</h5>
        <p>चावल, तुवरदाल + सेव-टमाटर + बैंगन भरता, पापड़ + आचार + सलाद</p>
      </div>
    </div>
  </div>
</div>

<p class="gap-1">
  <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample_Saturday" aria-expanded="false" aria-controls="collapseExample">
    Saturday
  </button>
</p>
<div class="collapse" id="collapseExample_Saturday">
  <div class="card card-body">
    <div class="day-menu row">
      <div class="meal col-md-6">
        <h5>नाश्ता</h5>
        <p>पोहा + भाजिया & चाय</p>
      </div>
      <div class="meal col-md-6">
        <h5>टिफ़िन</h5>
        <p>नमकीन पराठे</p>
      </div>
      <div class="meal col-md-6">
        <h5>लंच</h5>
        <p>आलू पराठे/सेव पराठे/ मक्के की रोटी + सरसों साग, दही, पुलाव, चटनी</p>
      </div>
      <div class="meal col-md-6">
        <h5>हाई-टी</h5>
        <p>भेल & चाय</p>
      </div>
      <div class="meal col-md-6 col-lg-12">
        <h5>डिनर</h5>
        <p>चावल, तुवरदाल + मूंग दाल + जाम की सब्जी, पापड़ + आचार + सलाद</p>
      </div>
    </div>
  </div>
</div>

<p class="gap-1">
  <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample_Sunday" aria-expanded="false" aria-controls="collapseExample">
    Sunday
  </button>
</p>
<div class="collapse" id="collapseExample_Sunday">
  <div class="card card-body">
    <div class="day-menu row">
      <div class="meal col-md-6">
        <h5>नाश्ता</h5>
        <p>समोसा/आलू-बड़ा/कचोरी & चाय</p>
      </div>
      <div class="meal col-md-6">
        <h5>टिफ़िन</h5>
        <p>---</p>
      </div>
      <div class="meal col-md-6">
        <h5>लंच</h5>
        <p>जीरा-चावल, दाल-बाटी, गुड़-चूरमा / जीरा चावल, दाल-बाफले, खीर / जीरा-चावल + दाल, कड़ाई-पनीर + फ्रूट कस्टर्ड</p>
      </div>
      <div class="meal col-md-6">
        <h5>हाई-टी</h5>
        <p>---</p>
      </div>
      <div class="meal col-md-6 col-lg-12">
        <h5>डिनर</h5>
        <p>कड़ी-खिचड़ी / पुलाव / साबूदाना खिचड़ी, आचार</p>
      </div>
    </div>
  </div>
</div>




<!-- <div class="gap-1">
  <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample_monday" aria-expanded="false" aria-controls="collapseExample_monday">
    Monday
  </button>
</div>
<div class="collapse" id="collapseExample_monday">
  <div class="card card-body">
    <div class="day-menu">
      <div class="meal">
        <h5>नाश्ता</h5>
        <p>खमण, पोहा & चाय</p>
      </div>
      <div class="meal">
        <h5>टिफ़िन</h5>
        <p>आलू गोभी</p>
      </div>
      <div class="meal">
        <h5>लंच</h5>
        <p>चावल, तुवरदाल + आलू-गोभी + काले चने, पापड़ + आचार + सलाद</p>
      </div>
      <div class="meal">
        <h5>हाई-टी</h5>
        <p>पोहा & चाय</p>
      </div>
      <div class="meal">
        <h5>डिनर</h5>
        <p>चावल, मिक्स-दाल + मसाला भिंडी + छोले, पापड़ + आचार + सलाद</p>
      </div>
    </div>
  </div>
</div>





<p class="gap-1">
  <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample_tuesday" aria-expanded="false" aria-controls="collapseExample">
    Tuesday
  </button>
</p>
<div class="collapse" id="collapseExample_tuesday">
  <div class="card card-body">
    <table class="table">
      <thead>
        <tr>
          <th>वार</th>
          <th>नाश्ता</th>
          <th>टिफ़िन</th>
          <th>लंच</th>
          <th>हाई-टी</th>
          <th>डिनर</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>मंगलवार</td>
          <td>इडली-सांभर + ब्रेड & चाय</td>
          <td>पत्ता गोभी</td>
          <td>चावल, मिक्स-दाल + पत्ता गोभी + राजमा, पापड़ + आचार + सलाद</td>
          <td>बिस्किट & चाय</td>
          <td>चावल, तुवरदाल + गाजर मटर + कड़ी पकोड़ा, पापड़ + आचार + सलाद</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<p class="gap-1">
  <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample_wednesday" aria-expanded="false" aria-controls="collapseExample">
    Wednesday
  </button>
</p>
<div class="collapse" id="collapseExample_wednesday">
  <div class="card card-body">
    <table class="table">
      <thead>
        <tr>
          <th>वार</th>
          <th>नाश्ता</th>
          <th>टिफ़िन</th>
          <th>लंच</th>
          <th>हाई-टी</th>
          <th>डिनर</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>बुधवार</td>
          <td>नमकीन पूरी + पोहा & चाय</td>
          <td>सुखी-सेव</td>
          <td>चावल, तुवरदाल + सेव-टमाटर + बालोर, पापड़ + आचार + सलाद</td>
          <td>ब्रेड & चाय</td>
          <td>चावल, तुवरदाल + आलू मेथी + हरे प्याज बेसन, पापड़ + आचार + सलाद</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<p class="gap-1">
  <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample_thursday" aria-expanded="false" aria-controls="collapseExample">
    Thursday
  </button>
</p>
<div class="collapse" id="collapseExample_thursday">
  <div class="card card-body">
    <table class="table">
      <thead>
        <tr>
          <th>वार</th>
          <th>नाश्ता</th>
          <th>टिफ़िन</th>
          <th>लंच</th>
          <th>हाई-टी</th>
          <th>डिनर</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>गुरुवार</td>
          <td>फ्राइड इडली + पोहा & चाय</td>
          <td>भिंडी-फ्राय</td>
          <td>चावल, मिक्स-दाल + कुरकुरी भिंडी + आलू झोल, पापड़ + आचार + सलाद</td>
          <td>बिस्किट & चाय</td>
          <td>जीरा-चावल, दाल, पराठे, शाही पनीर + रसगुल्ला / फ्राइड राइस, छोले भटूरे, गाजर का हलवा</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<p class="gap-1">
  <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample_friday" aria-expanded="false" aria-controls="collapseExample">
    Friday
  </button>
</p>
<div class="collapse" id="collapseExample_friday">
  <div class="card card-body">
    <table class="table">
      <thead>
        <tr>
          <th>वार</th>
          <th>नाश्ता</th>
          <th>टिफ़िन</th>
          <th>लंच</th>
          <th>हाई-टी</th>
          <th>डिनर</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>शुक्रवार</td>
          <td>सैंडविच + पोहा & चाय</td>
          <td>मिक्स-वेज</td>
          <td>चावल, तुवरदाल + मिक्स वेज + बेसन गट्टे, पापड़ + आचार + सलाद</td>
          <td>ब्रेड & चाय</td>
          <td>चावल, तुवरदाल + सेव-टमाटर + बैंगन भरता, पापड़ + आचार + सलाद</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<p class="gap-1">
  <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample_saturday" aria-expanded="false" aria-controls="collapseExample">
    Saturday
  </button>
</p>
<div class="collapse" id="collapseExample_saturday">
  <div class="card card-body">
    <table class="table">
      <thead>
        <tr>
          <th>वार</th>
          <th>नाश्ता</th>
          <th>टिफ़िन</th>
          <th>लंच</th>
          <th>हाई-टी</th>
          <th>डिनर</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>शनिवार</td>
          <td>पोहा + भाजिया & चाय</td>
          <td>नमकीन पराठे</td>
          <td>आलू पराठे/सेव पराठे/ मक्के की रोटी + सरसों साग, दही, पुलाव, चटनी</td>
          <td>भेल & चाय</td>
          <td>चावल, तुवरदाल + मूंग दाल + जाम की सब्जी, पापड़ + आचार + सलाद</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<p class="gap-1">
  <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample_sunday" aria-expanded="false" aria-controls="collapseExample">
    Sunday
  </button>
</p>
<div class="collapse" id="collapseExample_sunday">
  <div class="card card-body">
    <table class="table">
      <thead>
        <tr>
          <th>वार</th>
          <th>नाश्ता</th>
          <th>टिफ़िन</th>
          <th>लंच</th>
          <th>हाई-टी</th>
          <th>डिनर</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>रविवार</td>
          <td>समोसा/आलू-बड़ा/कचोरी & चाय</td>
          <td>---</td>
          <td>जीरा-चावल, दाल-बाटी, गुड़-चूरमा / जीरा चावल, दाल-बाफले, खीर / जीरा-चावल + दाल, कड़ाई-पनीर + फ्रूट कस्टर्ड</td>
          <td>---</td>
          <td>कड़ी-खिचड़ी / पुलाव / साबूदाना खिचड़ी, आचार</td>
        </tr>
      </tbody>
    </table>
  </div>
</div> -->

</div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>

