
.nav_buttons_div{
}
.navbar-brand{
    margin-bottom: 1.5rem;
   
}
.nav_bg{
    
}
.nav_button{
padding-right: 1rem;
padding-left: 1rem;
font-size: 1.5rem;

} 

.heading_section{
    text-align: center;
    
}
.heading{
font-size: 2.5rem;
font-weight: bold;
padding-left: 2rem;
padding-right: 2rem;
}

/* menu section */
.menu_section{
    text-align: center;
}

.meal {
  
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 1.5rem;

  }

.meal h5{
    color: #007bff;
    
}


/* Default style (applies to larger devices) */
.check_box_options {
    padding-left: 8rem;
    padding-right: 8rem;
}

/* Remove padding for small screens (phones) */
@media only screen and (max-width: 768px) { 
    .check_box_options {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}
